
#main-nav-bar,#main-nav-bar-front {
	.alert-counter {
		margin-right:-7px;
		margin-left:7px;
		
	}
	.navbar-brand {
		margin-right: 20px;
	}
	.navbar-nav {
		.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
			background-color: #497dae;
			color: #fff;
			white-space: normal;
		}
		.active {
			a {
				color: #444;
				background-color: #FFF;
			}

		}

		.dropdown.open {
			& > a.dropdown-toggle {
				background-color: rgba(250, 250, 250, 0.2) !important;
				border-left: 1px solid rgba(0, 0, 0, 0.3);
				border-right: 1px solid rgba(0, 0, 0, 0.3);
				box-sizing: border-box;
				padding-left: 14px;
				padding-right: 14px;
			}
			
		}
		.selector-dropdown {

			.dropdown-toggle {
				overflow: hidden;
				padding-right: 24px /* Optional for caret */;
				text-align: left;
				text-overflow: ellipsis;
				white-space: nowrap;
				
				.caret {
					position: absolute;
					right: 12px;
					top: calc(50% - 2px);
				}
				.badge {
					right:2px;
					position: absolute;
				}
			}
			.dropdown-menu {
				
				li > a {
					white-space: normal;
					
				}
			}
			
			&.open {

				& > a.dropdown-toggle {
					padding-left: 14px;
					padding-right: 23px;
					.caret {
						right: 11px;
					}
					.badge {
						right:1px;
					}
				}




			}
		}

	}
	
	
}

#footer-nav-bar {
	min-height: 20px;
}

.selector-dropdown {
	.dropdown-menu {
		
		li {
			a {
				color:#333!important;
				border-bottom: 1px dotted #ccc;
				&:hover {
					background-color: #446e9b!important;
					color: #ffffff!important;
				}
			}
			&.dropdown-header {
				margin-top: 10px;
				background-color: #e1e1e1;
			}
			&.active {
				a {
					color:#fff!important;
				}
			}
		}

	}

}
#mobile-selector-menu {
	.badge {
		right:10px;
	}
	
	.dropdown-menu {
		
		margin-right:-60px;
	}
	&.open {
		.dropdown-menu {
			display: block;
			max-height: 100px;
			overflow-y: auto;
			overflow-x:hidden;
			background:none;
			background-color:#fff;
		}
		.badge {
			right:9px;
		}
	}
	
}
#web-selector-menu {
	.dropdown-menu {
		width:320px;
		max-height: 100px;
		overflow-y: auto;
	}
	
}
#settings-dropdown {
	.fa {
		color:#999;
		float:right;
		margin-top:3px;
	}
	li:hover {
		.fa {
			color:#fff;
		}
	}
}

@media screen and (min-width: 768px) {
	.selector-dropdown {
		.dropdown-toggle {
			width: 160px;
		}
		.dropdown-menu {
			width:280px;
			margin-right:-80px;
		}
	}
}


@media screen and (max-width: 768px) {
	.icon-btn {
		.fa {
			float:right;
		}

	}
	.collapse.in {
		box-shadow: 0 10px 10px -10px #000;
	}
	
	
}
