body {
	background-color: #ccc;
	#gradient > .vertical(#e1e1e1, #ffffff);
}
#page-content {
	background-color: #fff;
	border-left      : 1px solid #ccc;
	border-right     : 1px solid #ccc;
	.box-shadow(0px 0px 10px rgba(150, 150, 150, 0.5)); /* Opera 10.5, IE9, FF4+, Chrome 10+ */
	
	
}

#page-content {
	margin-top:40px;
}

#main-nav-bar {
	.navbar-brand {
		margin-right:20px;
	}
	.navbar-nav {
		.active {
			a {
				color: #444;
				background-color: #FFF;
			}
			
		}
	}
}
