<div class="navbar navbar-inverse navbar-fixed-bottom " id="footer-nav-bar">
	<div class="container">
		<div class="r s" style="color:#fff;">
			<em>Logged in as </em> &nbsp; 
			<strong> {{ _user['name'] }}</strong>

		</div>
		
		
	</div>
</div>
