<div class="navbar navbar-inverse navbar-fixed-top " id="main-nav-bar">
	<div class="container">
		<div class="navbar-header">
			<a href="/" class="navbar-brand">MeetPad</a>
				<ul class="nav navbar-nav">


					<li class="active">
						<a href="/">Home</a>
					</li>
					<li><a href="/login">Login</a></li>
				</ul>



		</div>


	</div>
</div>
