<a class="dropdown-toggle el" data-toggle="dropdown" href="?m=1">
	64th Annual General Meeting of shareholders of Capro (Pty) Ltd
	<span class="caret"></span>
</a>
<ul class="dropdown-menu " style="" >
	<li role="presentation" class="dropdown-header" style="margin-top:0;">Active Meetings</li>
	<li>
		<a href="?m=1">
			<div>Special Exco Meeting</div>
			<div class="s r g">
				<div>
					<em>05 Feb (Thu) 10:00 AM - 05 Feb (Thu) 10:00 AM</em>
				</div>
				<div>
					<strong>SACD Ladies Hockey</strong>
				</div>

			</div>
		</a>
	</li>
	<li class="active">
		<a href="?m=2">
			<div>64th Annual General Meeting of shareholders of Capro (Pty) Ltd</div>
			<div class="s r g">
				<div>
					<em>05 Feb (Thu) 10:00 AM - 05 Feb (Thu) 10:00 AM</em>
				</div>
				<div>
					<strong>Capro</strong>
				</div>

			</div>
		</a>
	</li>
	<li role="presentation" class="dropdown-header">Companies / Organizations</li>
	<li><a href="?c=1">Zoutnet <span class="badge pull-right">1</span></a></li>
	<li><a href="?c=2">Kathorus</a></li>
	<li><a href="?c=3">Impreshin</a></li>


</ul>