<div class="row">
	<div class="col-md-5 affix affix-top affix-bottom sidebar-offcanvas" id="left-area" >
		left
		<p class="pull-right visible-sm-block visible-xs-block">
			<button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
		</p>
		<div style="height:200px; background-color: #fff; opacity:0.5" ></div>
		123
		
		<button class="btn btn-primary test-nav">Test</button>
	</div>
	<div class="col-md-7 col-md-offset-5 row-offcanvas row-offcanvas-left match-height" id="right-area" >
		<div data-toggle="offcanvas" class="offcanvas visible-sm-block visible-xs-block"><i class="fa fa-ellipsis-v"></i></div>
		
		right
		<p class="pull-right visible-sm-block visible-xs-block">
			<button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
		</p>
		
		
		<div style="height:100px; background-color: #fff; opacity:0.5" ></div>
		123
	</div>
</div>