<div class="row">
	<div class="col-md-5 affix affix-top affix-bottom" id="left-area" >
		left
		<div style="height:900px; background-color: #fff; opacity:0.5" ></div>
		123
	</div>
	<div class="col-md-7 col-md-offset-5" id="right-area" >
		right
		<div style="height:800px; background-color: #fff; opacity:0.5" ></div>
		123
	</div>
</div>