{% if _user['activated']=='1' %}
	<div class="row">
		<div class="col-md-5 affix affix-top  sidebar-offcanvas" id="left-area">
			<section id="left-area-content" class="content">
			</section>
		</div>
		<div class="col-md-7 col-md-offset-5 row-offcanvas row-offcanvas-left match-height" id="right-area">
			<div data-toggle="offcanvas" class="offcanvas visible-sm-block visible-xs-block">
				<i class="fa fa-ellipsis-v"></i>
			</div>
			<section id="right-area-content" class="content">
			</section>

		</div>
		<div class="loadingmask wide" id="loading-mask"></div>
	</div>
{% else %}

	<div class="c">
		<div class="alert alert-danger" role="alert" style="margin:50px; ">
			<h2>O snap! <br>
				<small>Your email address hasnt been "verified" on our system yet.</small>
			</h2>
			<hr/>
			<p>
			</p>

			<p>
				You would've recieved an email (at <strong>{{ _user['email'] }}</strong>)
				with a link to activate your account. The mail would come from:<br> <strong>{{ _cfg['email'] }}</strong> (hopefully *holding thumbs*) If not then please consult your folder 14 - or in normal terms... your spam folder</p>

			<p>
				We apologise for this added step.
			</p>

			<p>&nbsp;</p>
			<hr/>
			<button type="button" class="btn btn-primary resend-activation-email" >Resend activation link</button>
		</div>
		<div class="alert alert-warning" role="alert">
			 Not getting the mail? get in touch {{ _cfg['contact'] }}
		</div>
	</div>




{% endif %}