<div class="row">
	<div class="col-md-5 affix affix-top  sidebar-offcanvas" id="left-area">
		<p class="pull-right visible-sm-block visible-xs-block">
			<button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Hide Agenda</button>
		</p>
		<h1>Agenda</h1>

		<table class="table table-condensed">
			<tbody>
			<tr>
				<th colspan="5">
					1. Welcoming
				</th>
			</tr>
			<tr class="record">
				<td></td>
				<td>Verwelkoming</td>
				<td class="dg s">9 Jan 15</td>
				<td></td>
				<td></td>
			</tr>
			</tbody>
			<tbody>
			<tr>
				<th colspan="5">
					2. Attendance
				</th>
			</tr>
			<tr class="record">
				<td></td>
				<td>Bywoning - verskonings</td>
				<td class="dg s">9 Jan 15</td>
				<td></td>
				<td></td>
			</tr>
			</tbody>
			<tbody>
			<tr>
				<th colspan="5">
					3. Minutes of Previous Meeting
				</th>
			</tr>
			<tr class="record">
				<td></td>
				<td>Notule van die vorige vergadering</td>
				<td class="dg s">9 Jan 15</td>
				<td></td>
				<td>3</td>
			</tr>

			<tr class="record">
				<td></td>
				<td>Some or other agenda item</td>
				<td class="dg s">8 Jan 15</td>
				<td></td>
				<td>1</td>
			</tr>
			</tbody>

		</table>


	</div>
	<div class="col-md-7 col-md-offset-5 row-offcanvas row-offcanvas-left match-height" id="right-area">
		<div data-toggle="offcanvas" class="offcanvas visible-sm-block visible-xs-block">
			<i class="fa fa-ellipsis-v"></i>
		</div>
		<div class="pull-left visible-sm-block visible-xs-block offcanvas-btn-show" style="margin-bottom:-20px;">
			<button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">
				Show Agenda
			</button>
		</div>
		<div class="clearfix"></div>
		<h2>Limpopo Bowls Exco Meeting </h2>

		<div class="f12  dg" id="meeting-date-line">09 Jan (Fri) 9:00 AM &nbsp; to &nbsp; 06 Feb (Fri) 16:30 PM</div>


		<div style="height:10px; background-color: #ccc; opacity:0.5"></div>
		123


	</div>
	<div class="loadingmask wide" id="loading-mask"></div>
</div>