<div class="row">
	<div class="col-md-5 affix affix-top affix-bottom sidebar-offcanvas" id="left-area" >
		left
		<p class="pull-right visible-sm-block visible-xs-block">
			<button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
		</p>
		<div style="height:900px; background-color: #fff; opacity:0.5" ></div>
		123
	</div>
	<div class="col-md-7 col-md-offset-5 row-offcanvas row-offcanvas-left" id="right-area" >
		right
		<p class="pull-right visible-sm-block visible-xs-block">
			<button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
		</p>
		<div style="height:800px; background-color: #fff; opacity:0.5" ></div>
		123
	</div>
</div>