<div class="row">

	<div class="col-md-4 col-md-push-8">
		<form action="/" method="post">
			<h3>{{ msg }}</h3>

			<div class="form-group">
				<label for="login_email">Email address</label>
				<input type="email" class="form-control" id="login_email" name="login_email" placeholder="Enter email">
			</div>
			<div class="form-group">
				<label for="login_password">Password</label>
				<input type="password" class="form-control" id="login_password" name="login_password" placeholder="Password">
			</div>

			<button type="submit" class="btn btn-primary btn-block">Login</button>
			<a href="/login/forgot" class="btn btn-link btn-block btn-xs">Forgot Password</a>

			<a href="/register" class="btn btn-link btn-block">Register</a>
			
			<div class="clearfix"></div>
			<div style="height: 30px;;"></div>
		</form>
		<h3>Stats</h3>

		<div id="home-page-stats">
			<table class="table">
				<tbody>
				<tr>
					<td width="40" class="stats-nr">51</td>
					<td class="stats-h">Meetings</td>
					<td width="40" class="stats-nr sub">698</td>
					<td class="stats-h sub">Items</td>
				</tr>
				<tr>
					<td class="stats-nr">12</td>
					<td class="stats-h">Companies</td>
					<td class="stats-nr sub">853</td>
					<td class="stats-h sub">Comments</td>
				</tr>
				<tr>
					<td class="stats-nr">138</td>
					<td class="stats-h">Members</td>
					<td class="stats-nr sub">656</td>
					<td class="stats-h sub">Votes</td>
				</tr>

				</tbody>
			</table>
		</div>

		<div style="height: 30px;;"></div>

	</div>
	<div class="col-md-8 col-md-pull-4">

		<h1>Meetpad</h1>

		<div style="background-color: #fff; height:400px;"></div>

		<div class="clearfix"></div>
	</div>



</div>