<div class="row">
	<div class="whole-arrea">
		{% if data['ID'] %}
			{{ data['meeting'] }}
			
		{% else %}

			
			<div class="c" style="padding:50px;">
				<img src="/app/_images/sad_face.png" alt=""/>
			<p class="oops-text">Sowwy!</p></div>
			<div class="alert alert-danger c" role="alert">No meeting found or no permission to access it!</div>
		{% endif %}
	</div>
</div>
