<script type="text/javascript">
	var _data = {{ data|json_encode()|raw() }};
	var _domain = "{{ _domain }}";
</script>
<section id="content-area">
	{% if data['ID'] %}
		<div class="row">
			<div class="col-md-5 affix affix-top  sidebar-offcanvas" id="left-area">
				<section id="left-area-content" class="content">
				</section>
			</div>
			<div class="col-md-7 col-md-offset-5 row-offcanvas row-offcanvas-left match-height" id="right-area">
				<div data-toggle="offcanvas" class="offcanvas visible-sm-block visible-xs-block">
					<i class="fa fa-ellipsis-v"></i>
				</div>
				<section id="right-area-content" class="content">
				</section>

			</div>
			<div class="loadingmask wide" id="loading-mask"></div>
		</div>
	{% else %}

		<div class="c" style="padding:50px;">

			<div class="c" style="position: relative;">
				<i class="fa fa-frown-o" style="font-size: 120px; color:rgba(255, 0, 0, 0.3)"></i>

				<div style="">
					<h3 class="g">Sowwy!!</h3>
				</div>

			</div>


		</div>
		{% if get['new']=="true" %}
			<div class="alert alert-danger c" role="alert">You created this meeting but you arent in any of the groups that have access to this meeting</div>
			{% else %}
		<div class="alert alert-danger c" role="alert">No meeting found or no permission to access it!</div>
			{% endif %}
	{% endif %}
</section>
<section id="document-viewer">
	<div class="c">
		<iframe src="/iframe/loading" style="width:100%; height:500px;" frameborder="0"></iframe>
	</div>
	
</section>