#left-area {
  background-color: red;
  overflow-y: auto;
}
#left-area.affix-top {
  position: static;
  width: 395px;
}
#left-area.affix {
  position: fixed;
  top: 40px;
  bottom: 0;
  width: 395px;
}
#right-area {
  background-color: #0000ff;
}
