#left-area {
  background-color: #fff;
  border-right: 1px solid #ccc;
  overflow: hidden;
  position: relative;
}
#left-area.affix-top {
  position: static;
  max-width: 395px;
}
#left-area.affix {
  position: fixed;
  top: 40px;
  bottom: 20px;
  max-width: 395px;
  width: 100%;
}
#right-area {
  background-color: #fff;
  position: relative;
  padding-left: 10px;
  padding-top: 20px;
}
.offcanvas-btn-show {
  display: block;
}
.row-offcanvas-left.active .offcanvas-btn-show {
  display: none !important;
}
.offcanvas {
  width: 9px;
  height: 100%;
  background-color: #f1f1f1;
  position: absolute;
  top: 0;
  bottom: 0%;
  left: -1px;
  cursor: pointer;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
}
.offcanvas:hover {
  background-color: #ccc;
}
.offcanvas i.fa {
  margin-top: -5px;
  top: 50%;
  position: fixed;
  margin-left: 2px;
}
/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 992px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right {
    right: 0;
  }
  .row-offcanvas-left {
    left: 0;
  }
  .row-offcanvas-right .sidebar-offcanvas {
    right: -395px;
  }
  .row-offcanvas-left .sidebar-offcanvas {
    left: -395px;
  }
  .row-offcanvas-right.active {
    right: 395px;
  }
  .row-offcanvas-left.active {
    left: 395px;
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    max-width: 395px;
  }
}
#left-area h1 {
  margin-bottom: 19px;
}
#left-area .table th {
  font-weight: bold;
  font-size: 16px;
  padding-top: 15px;
}
#meeting-date-line {
  border-bottom: 1px solid #ddd;
  margin-top: -5px;
  padding-bottom: 3px;
}
#item-area h3 {
  margin-top: 20px;
}
#left-area {
  overflow: hidden;
}
.breadcrumb {
  margin: 0;
}
.btn-bar .btn {
  width: 40px;
  margin-left: 10px;
}
.content-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #e1e1e1;
  border-top: 1px solid #ccc;
  padding: 5px;
}
.content-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #ccc;
  padding: 5px;
}
#left-area-content .scroll-pane {
  top: 90px;
}
#left-area-content h1 {
  font-size: 28px;
  margin: 0;
  padding-top: 10px;
}
#left-area-content .scroll-pane {
  top: 60px;
}
#right-area-content .wells {
  margin: 0;
}
.groups-access {
  margin-bottom: 10px;
}
.groups-access .label-default {
  background-color: #fff;
  color: #b7b7b7;
}
.table-nowrap {
  table-layout: fixed;
}
.table-nowrap td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* Breadcrumbs from http://bootsnipp.com/snippets/featured/triangle-breadcrumbs-arrows */
.btn-breadcrumb {
  margin-bottom: -6px;
  margin-top: -4px;
}
.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid #adadad;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn {
  padding: 6px 6px 6px 20px;
}
.btn-breadcrumb .btn:first-child {
  padding: 6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
  padding: 6px 6px 6px 20px;
}
/** Default button **/
.btn-breadcrumb .btn.btn-default:not(:last-child):after {
  border-left: 10px solid #fff;
}
.btn-breadcrumb .btn.btn-default:not(:last-child):before {
  border-left: 10px solid #ccc;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
  border-left: 10px solid #ebebeb;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
  border-left: 10px solid #adadad;
}
/* The responsive part */
.btn-breadcrumb > * > div {
  /* With less: .text-overflow(); */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn-breadcrumb > *:nth-child(n+2) {
  display: none;
}
/* === For phones =================================== */
.btn-breadcrumb > *:nth-last-child(-n+2) {
  display: block;
}
blockquote.comment-item {
  font-size: inherit;
  font-weight: normal;
  border-bottom: 1px solid #ddd;
  border-left: none;
  padding-bottom: 20px;
}
#comments-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
#comments-list blockquote {
  padding-left: 10px;
}
#comments-list ul {
  list-style: none;
  padding-left: 20px;
}
#comments-list li {
  border-left: 3px solid #eee;
}
#comments-list textarea {
  overflow: hidden;
}
#comments-list .comment-btn-bar {
  display: none;
}
